.contenedor-capas{
    position: absolute;
    display: grid;
    grid-template-columns: auto;
}
.contenedor-linterna{
    height: 50%;
    width: auto;
    
}
.capa-linterna{
    position: absolute;
    top: 70%;
    left: 50%;
    cursor:pointer;
}
.linterna-img{
    width: 10vh;
    height: auto;
}
.caja2,caja1,caja{
    width: auto;
    height: auto;
    padding: auto;
    background-color: aqua;
}



